@media (max-width: 992px) {
    .navbar_box {
        display: flex;
        flex-direction: column;

    }
}

a.nav-link {
    color: black;
}

.tags {
    text-align: center;
}

footer .top-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #0f5470 ;
    height: 16.4227rem;
}

.footer-links {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}


.navbar-brand img {
    width: 1.5rem;
}

.navbar {
    background-color:  #eee;
}

footer span {
    color: #fff;
    font-family: Jockey One;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}